.login-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}
.form-control-icon {
    position: absolute;
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.form-group {
    position: relative;
}
.form-control {
    padding-left: 2.75rem;
}